/**************  Cores *****************

    Destaques   : #B28756;
    Cinza Texto : #333;
    Cinza Claro : #ccc;
    Nav         : #000;
    Rodapé      : #000;

***************************************/

/***************************************
************** CSS Reset ***************
***************************************/

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    border: 0;
    margin: 0;
    padding:0;
}

/***************************************
************** CSS Geral ***************
***************************************/

/************** Header ****************/
header {
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
}

.logoimg {
    background-color: #B28756;
    width: 80px;
    height: 80px;
    /* metade da lergura e altura para formar um círculo */
    border-radius: 40px;
}

.menu {
    flex:1;
    display: flex;
    justify-content: flex-end;  
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
    font-size: 13px;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
}

/************** Buttons **************
**************************************/
.button {
    display: block;
    background-color: #B28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 20px;
    max-width: 25%;
    text-align: center;
}

.btn-menu {
    display: none;
}

/********** Banner Slider ************
*************************************/
.banner {
    /* 100vh = 100% da altura da tela - altura do menu */
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    /* oculta o conteúdo que ultrapassa o tamanho da div banner, no caso os slides */ 
    overflow: hidden;
}

.banner .sliders {
    /* equivalente a 10 slides */
    width: 1000vw;
    height: 100%;
}

.banner .slide {    
    /* slide 100vw = 100% da largura da tela  */
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* centraliza horizontalmente */
    justify-content: center;
    /* centraliza vertical */
    align-items: center;
    color: #fff;    
    text-transform: uppercase;  
    text-align: center;  
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #B28756;
}

.banner h2 {
    margin-top: 30px;
}

.banner a {
    display: block;
    background-color: #B28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 20px;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    display: flex;
    position: absolute;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 10px;
    height: 10px;
    border: 1px solid #B28756;
    border-radius: 8px;
    margin: 3px;
    cursor: pointer;
}

/* precisa ter as duas classes para receber o atributo background*/
.banner .pointer.active {
    background-color: #B28756;
}

/************ Sections ***********
**********************************/
.padrao {
    padding-top: 50px;
    padding-bottom: 50px;  
}

.padrao .secao-titulo,
.padrao .secao-descricao {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.padrao .secao-titulo {    
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    
}

.padrao .secao-descricao {
    font-size: 14px;
    margin-bottom: 40px;
    color: #999;    
}

.padrao .secao-corpo {
    max-width: 1140px;
    margin: 0 auto;    
}

.padrao.claro {
    background-color: #f7f7f7;
}

.padrao.claro.branco {
    background-color: #fff;
}

.padrao.claro .secao-corpo {
    color: #000;
}

.padrao.claro .secao-descricao {
    color: #333;
}

.padrao.escuro {
    background-color: #333;
}

.padrao.escuro .secao-titulo,
.padrao.escuro .secao-corpo {
    color: #fff;
}

.padrao.escuro .secao-descricao {
    color: #CCC;
}

/***************************************
*********** CSS Espcecífico ************
***************************************/
.secao-sobre {
    display: flex;
}

.secao-sobre--left {
    flex:1;
}

.secao-sobre--left p {
    font-size: 14px;
    line-height: 25px;
}

.secao-sobre--right {
    width: 520px;  
    text-align: center;
}

.secao-sobre--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

/************* Serviços *************
*************************************/
.secao-servicos {
    display:flex;    
}

.secao-servico {
    flex: 1;
    text-align: center;
    border-right: 1px solid #999;  
    padding: 15px;  
}

.secao-servico:first-child {
    border-left: 1px solid #999;
}

.secao-servico h4 {
    margin-top: 16px;
    text-transform: uppercase;
    font-size: 18px;
}

.secao-servico p {
    font-size: 12px;
    margin-top: 13px;
    color: #999;
}

/************ Projetos **************
*************************************/
.secao-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao-projetos--filtros {
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 30px;
    padding: 0 20px;
}

.secao-projetos--filtros ul,
.secao-projetos--filtros li {    
    list-style: none;
}

.secao-projetos--filtros li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px;
    border-left: 1px solid #ddd;
    color: #333;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.secao-projetos--filtros li:hover,
.secao-projetos--filtros li.active {
    border-bottom: 3px solid #B28756;
}

.secao-projetos--filtros li:first-child {
    border-left: 0;
}

.secao-projetos--fotos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.secao-projetos--foto {
    width: 280px; 
}

.secao-projetos--fotoarea {
    margin:10px;
    width: 260px;
    height: 160px;
    cursor: pointer;
}

.secao-projetos--fotoarea img {
    width: inherit;
    height: inherit;
}

.secao-projetos--fotoarea:hover .secao-projetos--fotoinfo  {
    display: flex;
}

.secao-projetos--fotoinfo {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    color: #fff;
    
}

.secao-projetos--fotoinfo h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.secao-projetos--fotoinfo p {
    font-size: 8px;
    margin-top: 14px;
}

/************** Equipe **************
*************************************/
.bg-equipe {
    background-image: url('../images/bg-equipe.jpg');
    background-size:cover;
    background-position: center;
    padding: 0;
}

.secao-equipe-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;    
}

.secao-equipe {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
    margin-bottom: 50px;
}

.secao-equipe .sliders {
    /* equivalente a 3 slides */
    width: 300vw;
    height: 100%;
}

.secao-equipe .slide {
    width: 280px;
    height: 100%;
    min-height: 330px;
    display: inline-block;
    background-color:#fff;
    margin-right: 20px;
    padding: 30px 0;
}

.secao-equipe .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* centraliza horizontalmente */
    justify-content: center;
    /* centraliza vertical */
    align-items: center;
    color: #000;    
    text-transform: uppercase;    
}

.secao-equipe-area .sliders-pointers {
    width: 100%;
    height: 20px;
    display: flex;
    position: absolute;
    margin-top: 20px;    
    justify-content: center;
    align-items: center;
}

.secao-equipe-area .pointer {
    width: 10px;
    height: 10px;
    border: 1px solid #B28756;
    border-radius: 8px;
    margin: 3px;
    cursor: pointer;
}

/* precisa ter as duas classes para receber o atributo background*/
.secao-equipe-area .pointer.active {
    background-color: #B28756;
}

.secao-equipe--avatar img {
    width: 150px;
    height: auto;    
}

.secao-equipe--nome,
.secao-equipe--funcao {
    text-transform: none;
}

.secao-equipe--nome {
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
}

.secao-equipe--funcao {
    font-size: 12px;
    margin-top: 7px;
    color: #333;    
}

.secao-equipe--social {
    margin-top: 10px;
    display: flex;    
}

.secao-equipe--social a {
    display: inline-flex;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    background-color: #999;
    border-radius: 13px;
}

.secao-equipe--social a:last-child {
    margin-right: 0;
}

.secao-equipe--social a:hover {
    background-color: #B28756;
}

/********** Depoimentos ************
*************************************/
.secao-depoimento {
    overflow: hidden;
    max-width: 700px;
    margin: auto;
    display: flex;
}

.secao-depoimento .sliders {
    /* equivalente a 3 slides */
    width: 300vw;
    height: 100%;
}

.secao-depoimento .slide {
    width: 680px;
    min-width: 680px;
    height: 100%;
    min-height: 330px;
    display: inline-block;
    background-color:#fff;
    margin-right: 20px;
    padding: 30px;
}

.secao-depoimento .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* centraliza horizontalmente */
    justify-content: center;
    /* centraliza vertical */
    align-items: center;
    color: #000;    
    text-transform: uppercase;    
}

.secao-depoimento-area .sliders-pointers {
    width: 100%;
    height: 20px;
    display: flex;
    position: absolute;
    margin-top: 20px;    
    justify-content: center;
    align-items: center;
}

.secao-depoimento-area .pointer {
    width: 10px;
    height: 10px;
    border: 1px solid #B28756;
    border-radius: 8px;
    margin: 3px;
    cursor: pointer;
}

/* precisa ter as duas classes para receber o atributo background*/
.secao-depoimento-area .pointer.active {
    background-color: #B28756;
}

.secao-depoimento--avatar img {
    width: 150px;
    height: auto;    
}

.secao-depoimento--nome,
.secao-depoimento--funcao,
.secao-depoimento-citacao p {
    text-transform: none;
}

.secao-depoimento--nome {
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
}

.secao-depoimento--funcao {
    font-size: 12px;
    margin-top: 7px;
    color: #333;    
}

.secao-depoimento-citacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secao-depoimento-citacao img {
    margin-top: 25px;
    margin-bottom: 25px;
}

.secao-depoimento-citacao p {
    text-align: center;
    font-size: 15px;
    color: #999;

}

/******** barra de logotipos*********
*************************************/
.secao-logotipos-parceiro-area {
    /*box-shadow: 0px 0px 1px #000;*/
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 30px;
    background-color: #fff;
}

.secao-logotipos-parceiro {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

.secao-logotipos-parceiro-area img {
    width: 100px;
    height: auto;
    margin-right: 70px;
    
}

.secao-logotipos-parceiro-area img:last-child {
    margin-right: 0;
}

/************** Preços **************
*************************************/
.secao-preco {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:auto;
    
}
.secao-preco-tabela {
    width: 265px;
    min-height: 370px;
    margin-right: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
}

.secao-preco-tabela:last-child {
    margin-right: 0;
}

.secao-preco-tabela h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.secao-preco-tabela h2 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
}

.secao-preco-tabela h3 {
    font-size: 13px;
    text-transform: uppercase;
    color:#999;
    margin-bottom: 15px;
}

.secao-preco-tabela p {
    font-size: 12px;
    color:#333;
    margin-top: 13px;
    text-align: center;
}

.secao-preco-tabela .button.cinza {
    background-color: #333;
    max-width: 70%;
    font-size: 11px;
}

.secao-preco-tabela .button.cinza:hover {
    background-color: #B28756;
}


/************* Produtos *************
*************************************/

/* Slider de Produtos*/
.secao-produto {
    overflow: hidden;
    width: 100%;
    margin: auto;
    display: flex;
}

.secao-produto-area .sliders {
    /* equivalente a 3 slides */
    width: 300vw;
    height: 100%;
}

.secao-produto .slide {
    width: 100%;
    min-width: 1140px;
    height: 100%;
    min-height: 530px;
    display: inline-block;
    background-color:#fff;
    margin-right: 20px;
    padding: 30px;
    
}

.secao-produto-area .slidearea {
    display: flex;
    height: 100%;
    /* centraliza horizontalmente */
    justify-content: center;
    /* centraliza vertical */
    align-items: center;
    color: #000;    
    text-transform: uppercase; 
     
}

.secao-produto-area .sliders-pointers {
    width: 100%;
    height: 20px;
    display: flex;
    position: absolute;
    margin-top: 20px;    
    justify-content: center;
    align-items: center;
}

.secao-produto-area .pointer {
    width: 10px;
    height: 10px;
    border: 1px solid #B28756;
    border-radius: 8px;
    margin: 3px;
    cursor: pointer;
}

/* precisa ter as duas classes para receber o atributo background*/
.secao-produto .pointer.active {
    background-color: #B28756;
}

/* Conteúdo do Slide */
.secao-produto-left {
    text-align:center;
    margin-bottom:30px;    
}

.secao-produto-right {
    padding-left:20px;
    padding-right:20px;
}

.secao-produto--item {
    display:flex;
    margin-bottom:20px;
}
.secao-produto--item img {
    width:20px;
    height:20px;
    margin-right:20px;
}
.secao-produto--item div {
    flex:1;
    color:#999;
    line-height:20px;
}
.secao-produto--item div h4 {
    color:#000;
    font-size:17px;
    font-weight:600;
}

.secao-produto--item p {
    text-transform: none;
    font-size: 13px;
}

/******* Números/Resultados *********
*************************************/
.secao-numeros {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.secao-numeros {
    text-align: center;
}

.secao-numeros-item h1 {
    font-size: 45px;
    color: #B28756;
}

.secao-numeros-item h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}

.secao-numeros-item p {
    font-size: 13px;
    color: #999;
    font-weight: 300;
    margin-top: 5px;
}

.secao-numeros-linha {
    width:25px;
    border-bottom:4px solid #999;
    margin:auto;
    margin-top: 10px;
}

/***** Barra de compartilhamentos ***
*************************************/
.secao-compartilhar {
    height: 100px;
}
.secao-compartilhar-area,
.secao-compartilhar-item,
.secao-compartilhar-titulo,
.secao-compartilhar--icone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao-compartilhar-area {    
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;    
}

.secao-compartilhar-titulo {
    margin: 0 20px;
    font-weight: 600;
    color: #888;
    text-transform: uppercase;
    font-size: 14px;
}

.secao-compartilhar-titulo img {
    margin-right: 20px;
}

.secao-compartilhar-item {
    font-size: 12px;
    color: #999;
    font-weight: 600;
    margin-right: 35px;
}

.secao-compartilhar--icone {
    width:30px;
    height:30px;
    border-radius:15px;
    background-color:#CCC;
    margin-right: 5px;   
    cursor: pointer;
}

.secao-compartilhar--icone img {
    height:12px;
}

.secao-compartilhar--icone.twitter {
    background-color:#34c5f0;
}

.secao-compartilhar--icone.linkedin {
    background-color:#127cb4;
}
.secao-compartilhar--icone.facebook {
    background-color:#336297;
}
.secao-compartilhar--icone.googleplus {
    background-color:#e74237;
}
.secao-compartilhar--icone.pinterest {
    background-color:#b71c29;
}

/********* Form de Contato **********
*************************************/
.secao-contato {
    width: 600px;
    height: 400px;
    max-width: 600px;
    min-width: 600px;
    margin:auto;
}

.secao-contato--grupo {    
    display: flex; 
    width: 100%;
}

.secao-contato--grupo input[type=text],
.secao-contato textarea {
    margin-right: 30px;
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:2px solid #CCC;
    outline:0;
    margin-top:40px;    
}

.secao-contato textarea {
    height:100px;
    resize:none;
}

.secao-contato--grupo input[type=submit] {
    margin:auto;
}

.secao-contato-btn-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/************* Mapa *************
*************************************/
.secao-mapa {
    background-image: url('../images/mapa.png');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.secao-mapa--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.secao-mapa--info {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    color: #000;
}

.secao-mapa--info-item {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #999;
    margin-top: 10px;
}

.secao-mapa--info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #999;
    margin-right: 10px;
}

/************* Rodapé ***************
*************************************/
.secao-rodape {
    padding-bottom: 30px;
    display: flex;
}

.padrao.rodape {
    padding-top: 40px;
    background-color: #000;
}

.secao-rodape-esquerda,
.secao-rodape-meio,
.secao-rodape-direita {
    display: flex;
    flex-direction: column;
    width: Calc(1140px / 3);
    color: #999;
    font-size: 14px;
}

.secao-rodape--social {
    display: flex;
}

.secao-rodape--social-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 20px;
    margin-right: 10px;
    color: #999;   
}

.secao-rodape--social-item:hover {
    background-color: #B28756;
}

.secao-rodape-copyright {
    width: 100%;
    height: 20px;
    display: flex;    
    bottom: 30px;
    margin-top: 70px;    
    align-items: center;
    font-size: 14px;
    color: #ccc;
    font-weight: 600;
}

.secao-rodape-meio {
    padding-right:30px;
    padding-left: 30px;
}

.button.btn-rodape {
    max-width: 70%;
    cursor: pointer;
}

.secao-rodape-direita {
    background-color: #333;    
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.secao-rodape-direita input[type=text] {
    width: Calc((1140px / 3) - 130px);
    height: 40px;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    color:#ccc;
}

/********** Responsividade **********
*************************************/


@media (min-width: 450px) and (max-width:800px) {
    .logo {
        margin-left: 30px;
    }

    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 65vw;
        height: calc(100vh - 100px);
        top:100px;
        right: 0;
        border: 0;
    }
    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border: 0;
    }

    .menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-right: 50px;
        border: 0;
    }

    .menu li a:hover,
    .menu li.active a {
        border: 0;
        color: #B28756;
    }

    .btn-menu {
        display: block;
        width: 45px;
        margin-right: 30px;
    }

    .secao-sobre {
        flex-direction: column;
    }

    .secao-sobre--left {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
    }

    .secao-sobre--right {
        width: auto;
    }

    .secao-servicos {
        flex-wrap: wrap;
    }

    .secao-servico {
        min-width: 50%;
        margin-bottom: 50px;
    }

    .secao-servico:first-child {
        border-left: 0;
    }

    .button {
        height: 40px;
    }

    .secao-equipe {
        max-width: 580px;
    }

    .secao-depoimento-citacao p {
        font-size: 22px;
    }

    .secao-depoimento--nome {
        font-size: 30px;
    }

    .secao-depoimento--funcao {
        font-size: 24px;
    }

    .secao-preco-tabela {
        margin: 10px;
    }

    .secao-preco-tabela:last-child {
        margin-right: 10px;
    }

    .secao-produto .slide .slidearea {
        max-width: 700px;
    }

    .secao-numeros {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .secao-numeros-item {
        max-width: 364px ;
        padding: 20px;
    }

    .secao-mapa--info {
        background-color: rgba(255,255, 255, 0.8);
        color: #333;
    }

    .padrao.rodape {
        padding: 40px;
    }

    .secao-rodape {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .secao-rodape-esquerda,
    .secao-rodape-meio,
    .secao-rodape-direita {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .secao-rodape-direita {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .secao-rodape-direita input[type=text] {
        width: Calc(100vw - 150px);
    }

    .secao-rodape-meio {
        padding: 0;
    }

    .secao-rodape-copyright {
        justify-content: center;
    }



}

@media (max-width: 449px) {
    .logo {
        margin-left: 30px;
    }

    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 65vw;
        height: calc(100vh - 100px);
        top:100px;
        right: 0;
        border: 0;
    }
    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border: 0;
    }

    .menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-right: 50px;
        border: 0;
    }

    .menu li a:hover,
    .menu li.active a {
        border: 0;
        color: #B28756;
    }

    .btn-menu {
        display: block;
        width: 45px;
        margin-right: 30px;
    }

    .secao-sobre {
        flex-direction: column;
    }

    .secao-sobre--left {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
    }

    .secao-sobre--right {
        width: auto;
    }

    .secao-servicos {
        flex-wrap: wrap;
    }

    .secao-servico {
        min-width: 50%;
        margin-bottom: 50px;
    }

    .secao-servico:first-child {
        border-left: 0;
    }

    .button {
        height: 40px;
    }

    .secao-equipe {
        max-width: 580px;
    }

    .secao-depoimento-citacao p {
        font-size: 22px;
    }

    .secao-depoimento--nome {
        font-size: 30px;
    }

    .secao-depoimento--funcao {
        font-size: 24px;
    }

    .secao-preco-tabela {
        margin: 10px;
    }

    .secao-preco-tabela:last-child {
        margin-right: 10px;
    }

    .secao-produto .slide .slidearea {
        max-width: 700px;
    }

    .secao-numeros {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .secao-numeros-item {
        max-width: 364px ;
        padding: 20px;
    }

    .secao-mapa--info {
        background-color: rgba(255,255, 255, 0.8);
        color: #333;
    }

    .padrao.rodape {
        padding: 40px;
    }

    .secao-rodape {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .secao-rodape-esquerda,
    .secao-rodape-meio,
    .secao-rodape-direita {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .secao-rodape-direita {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .secao-rodape-direita input[type=text] {
        width: Calc(100vw - 150px);
    }

    .secao-rodape-meio {
        padding: 0;
    }

    .secao-rodape-copyright {
        justify-content: center;
    }
    
}